@model IEnumerable<MovieDAL.Movie>

	<div class="alphabetMenu">
		@for (char i = (char)65; i <= 90; i++)
		{
			<a href ="#@i" class="movieListHeader">@i</a>
		}
	</div>

	<ul>
		@{
			string lastLetter = null;
		}
		@foreach (var movie in Model)
		{
			if (lastLetter != movie.Title.Substring(0, 1))
			{
				lastLetter = movie.Title.Substring(0, 1);
				<h3 id="@lastLetter">@lastLetter</h3>
			}

			<li>
				@Html.ActionLink(movie.Title, "Details", new { id = movie.MovieId })
				@{ string s = movie.MovieId.ToString() + ".xml";}
				(<a href="/Movie/Details/@s">xml</a>)
			</li>
		}
	</ul>